/node_modules
/node/node_modules
/webrtc_video/serverfiles/node_modules

/node/server.js
/public/hot
/public/storage
/public/user-dash
/storage/*.key
/vendor
.env
.htaccess
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
