body, html {
  min-height: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr.hmpg_ln {
	border: 1px solid #fff;
}
/* global css */
.cursor-pointer{
  cursor: pointer ! important;
}
  
/* logo in navbar */
.navbar_brand{
	background-image: url('../images/K_Logo6.png');
    background-size: 80px 60px; /* size of image */
	background-repeat: no-repeat;
	width: 95px;
    height: 60px;
}

.hmpg_lg{
	background-image: url('../images/Kunnec_About.png');
    background-size: 100%; /* size of image */
	background-repeat: no-repeat;
	background-position: center;
	height: 330px;
}

@media (max-width: 480px){
  .hmpg_lg{
    height: 200px;
  }
  .welcome_text small {
    float: left;
    color: #fff;
    margin: 0px 0px 8px;
  }
}

@media (max-width: 375px){
    .hmpg_lg{
        height: 230px;
    }
}

@media (max-width: 325px){
    .hmpg_lg{     
      height: 100px;
    }
}

.k_motto{
	font-size: 1.3em;
}

.k_motto1{
	color: #000;
	font-size: 150%;
	padding: 10px;
	text-align:center;
}

.lnkbtn_modal {
  color: #fff;
}

.lnkbtn_modal:fec{
  color: #ffc433;
}

.ter_pri{
	text-align:center;
}

.ter_pri li{
	display: inline-block;
	color:#fff;
	padding: 3px;
}

.ter_pri li:hover{
color: #ffc433;
}

.container {
  width: 100%;
  padding-top: 110px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container1 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
  }

/******************************************************************
                            start of navigation 
********************************************************************/

.navbar{
   background-color: #009900;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar_brand{
	background-image: url('../images/K_Logo6.png');
    background-size: 80px 60px; /* size of image */
	background-repeat: no-repeat;
	width: 95px;
    height: 60px;
}

.s_name{
    color: #FFFFFF;
 }

.navbar-toggler{
   border-color: #FFFFFF;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-danger {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}


.btn-warning {
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}


/******************************************************************
                            start of google toolbar
********************************************************************/

#google_translate_element
{
  padding-right: 10px;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    left: 0;
    top: -500;
    height: 39px;
    width: 100%;
    z-index: 0;
    position: fixed;
    border: none;
    border-bottom: 1px solid #6B90DA;
    margin: 0;
    box-shadow: 0 0 8px 1px #999
}

.VIpgJd-ZVi9od-xl07Ob-OEVmcd {
    z-index: 0;
    border: none;
    position: fixed;
    box-shadow: 0 3px 8px 2px #999
}

.VIpgJd-ZVi9od-SmfZ-OEVmcd {
    z-index: 0;
    border: none;
    margin: 0
}


}
a.VIpgJd-ZVi9od-l4eHX-hSRGPd{ display:none; }
/******************************************************************
                            start top section
********************************************************************/
.sky{
   background-image: url(../images/cloud-horizon.jpg);
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*****************************************************************************************************************************
******************************************************************************************************************************

                                                        Column Sizes
                                                            
******************************************************************************************************************************
******************************************************************************************************************************/

.dynamicTile .col-sm-2.col-xs-4{
    padding:3px;
}

@media (max-width: 912px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 120px;
   }
   }

@media (max-width: 825px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 120px;
   }
   }
   
@media (max-width: 540px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 148px;
   }
   }

@media (max-width: 425px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 120px;
   }
   }
   
   @media (max-width: 412px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 120px;
   }
   }
  
   @media (max-width: 375px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 115px;
   }
   }
  
    @media (max-width: 360px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 110px;
   }
   }

   @media (max-width: 320px){
    .dynamicTile .col-sm-2.col-xs-4{
      padding:3px;
      width: 96px;
   }
   }

.dynamicTile .col-sm-4.col-xs-8{
    padding:3px;
}

@media (max-width: 540px){
    .dynamicTile .col-sm-4.col-xs-8{
      padding:3px;
      width: 300px;
   }
   }

@media (max-width: 480px){
    .dynamicTile .col-sm-4.col-xs-8{
      padding:3px;
      width: 240px;
   }
   }
  
   @media (max-width: 375px){
    .dynamicTile .col-sm-4.col-xs-8{
      padding:3px;
      width: 220px;
   }
   }
  
   @media (max-width: 320px){
    .dynamicTile .col-sm-4.col-xs-8{
      padding:3px;
      width: 190px;
   }
   }
  

.dynamicTile .col-sm-12.col-xs-4{
    padding: 3px;

}




/*****************************************************************************************************************************
******************************************************************************************************************************

                                                      Page Sections
                                                            
******************************************************************************************************************************
******************************************************************************************************************************/

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}


i {
 font-family: FontAwesome;
 
 
}


/*****************************************************************************************************************************
******************************************************************************************************************************

                                                            TILE BOXES
                                                            
******************************************************************************************************************************
******************************************************************************************************************************/

.tile:hover {
  opacity: 0.6;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

#tile1{
    background: rgb(255,0,0);  /** color - red (About Box) **/
   height: 100%;
}

#tile2{
    background: rgb(0,128,0);  /** color - green (Suggestion Box) **/
   height: 100%;
}

#tile3{
    background: rgb(255,255,0);  /** color - yellow (Plans Box) **/
   height: 100%;
}

#tile4{
     background: rgb(0,93,233);  /** color - blue (Payments Box) **/
    height: 100%;
}

#tile5{
    background: rgb(128,0,128);  /** color - purple (Credits Box , Kunnec Tuts Box) **/
    height: 100%;
}

#tile6{
    background: rgb(255,165,0);  /** color - orange (Language Box , Kunnec Shop Box) **/
   height: 100%;
}

#tile7{
    background: rgb(255,20,147);  /** color - pink (Kunnec Social Box) **/
    height: 100%;
}

#tile8{
    background: rgb(0,0,205);  /** color - navy blue (Kunnec to Me Box , Kunnec Show Box) **/
   height: 100%;
}

#tile9{
    background: rgb(0,142,0);  /** color - green (Kunnec Sell Box) **/
   height: 100%;
}

#tile10{
    background: rgb(128,0,0);  /** color - maroon (Kunnec Teach Box) **/
    height: 100%;
}

#tile11{
    background: rgb(128,0,0);  /** color - maroon (Kunnec Vid Box) **/
   height: 100%;
}

#tile12{
    background: rgb(210,105,30);  /** color - burned orange (Kunnec to You Box) **/
   height: 100%;
}

/*****************************************************************************************************************************
******************************************************************************************************************************

                                                     Tile Icon
                                                            
******************************************************************************************************************************
******************************************************************************************************************************/

.tilecaption{  /** color - white (Kunnec Social and Kunnec Teach Icon) **/
    position: relative;
    margin:0!important;
    text-align: center;
    color:white; 
    padding-top: 10%;  
}

.tilecaption4{  /** color - white (Kunnec Screen Icon) **/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(50%);
    margin:0!important;
    text-align: center;
    color:white;
   font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 42px;
    font-weight: lighter;
    padding: 6.3%;
}

.tilecaption6{  /** color - white (All Icons) **/
    position: relative;
    margin:0!important;
    text-align: center;
    color:white;
     opacity: 1;
     transition: .5s ease;
     backface-visibility: hidden;
    padding-top: 20%;    
}

.tilecaption8{  /** color - black (Payouts Icon) **/
    position: relative;  
    margin:0!important;
    text-align: center;
    color:black;
   font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-weight: lighter;
   padding-top: 20%;
}

/*****************************************************************************************************************************
******************************************************************************************************************************

                                                      Tile  Words _Start
                                                            
******************************************************************************************************************************
******************************************************************************************************************************/


.tilecaption2{  /** color - white (Kunnec Social and Kunnec Teach Words) **/
    position: relative;
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 20%; 
}

@media (max-width: 820px){
    .tilecaption2{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 20px;
        font-weight: lighter;
        padding-bottom: 20%;  
    }
   }
   
@media (max-width: 912px){
    .tilecaption2{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 20px;
        font-weight: lighter;
        padding-bottom: 20%;  
    }
   }   

@media (max-width: 768px){
    .tilecaption2{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 20px;
        font-weight: lighter;
        padding-bottom: 20%;  
    }
   }
   

@media (max-width: 540px){
    .tilecaption2{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 20px;
        font-weight: lighter;
        padding-bottom: 20%; 
        
    }
   }
   
@media (max-width: 360px){
    .tilecaption2{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 18px;
        font-weight: lighter;
        padding-bottom: 17%;  
    }
   }

.tilecaption3{  /** color - white (Kunnec Screen Words) **/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(60.5%);
    -ms-transform: translateY(50%);
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-weight: lighter;
    
}

.tilecaption5{ /** color - white (All Words) **/
    position: relative;
   margin:0!important;
    text-align: center;
    color:white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 20%;
}

.tilecaption7{  /** color - black (Payouts Words) **/
    position: relative;
    margin:0!important;
    text-align: center;
    color:black;
   font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 20%; 
}


.tilecaption9{ /** color - white (All Words) **/
    position: relative;
   margin:0!important;
    text-align: center;
    color:white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 41%;  
}

@media (max-width: 768px){
    .tilecaption9{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 19px;
        font-weight: lighter;
        padding-bottom: 41%;  
    }
   }

   @media (max-width: 320px){
    .tilecaption9{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 16px;
        font-weight: lighter;
        padding-bottom: 46%;  
    }
   }

.tilecaption10{ /** color - white (All Words) **/
    position: relative;
   margin:0!important;
    text-align: center;
    color:white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 41%;  
}

@media (max-width: 1024px){
    .tilecaption10{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 23px;
        font-weight: lighter;
        padding-bottom: 42%;  
    }
   }


@media (max-width: 912px){
    .tilecaption10{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 18px;
        font-weight: lighter;
        padding-bottom: 46%;  
    }
   }

@media (max-width: 768px){
    .tilecaption10{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 18px;
        font-weight: lighter;
        padding-bottom: 42%;  
    }
   }
   
@media (max-width: 820px){
    .tilecaption10{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 18px;
        font-weight: lighter;
        padding-bottom: 42%;  
    }
   }

   @media (max-width: 320px){
    .tilecaption10{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 14px;
        font-weight: lighter;
        padding-bottom: 46%;  
    }
   }

   .tilecaption11{ /** color - white (All Words) **/
    position: relative;
   margin:0!important;
    text-align: center;
    color:white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 41%;  
}

@media (max-width: 1024px){
    .tilecaption11{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 23px;
        font-weight: lighter;
        padding-bottom: 42%;  
    }
   }


@media (max-width: 768px){
    .tilecaption11{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 18px;
        font-weight: lighter;
        padding-bottom: 42%;  
    }
   }
   
@media (max-width: 912px){
    .tilecaption11{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 18px;
        font-weight: lighter;
        padding-bottom: 46%;  
    }
   }   
   
@media (max-width: 820px){
    .tilecaption11{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 18px;
        font-weight: lighter;
        padding-bottom: 40%;  
    }
   }
   
@media (max-width: 540px){
    .tilecaption11{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 14px;
        font-weight: lighter;
        padding-bottom: 46%;  
    }
   }   
   
@media (max-width: 360px){
    .tilecaption11{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 14px;
        font-weight: lighter;
        padding-bottom: 42%;  
    }
   }

   @media (max-width: 320px){
    .tilecaption11{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 14px;
        font-weight: lighter;
        padding-bottom: 42%;  
    }
   }

   .tilecaption12{ /** color - white (All Words) **/
    position: relative;
   margin:0!important;
    text-align: center;
    color:white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 25px;
    font-weight: lighter;
}

@media (max-width: 320px){
    .tilecaption12{ /** color - white (All Words) **/
        position: relative;
       margin:0!important;
        text-align: center;
        color:white;
        font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
        font-size: 20px;
        font-weight: lighter;
    }
   }


/*****************************************************************************************************************************
******************************************************************************************************************************

                                                   Kunnec Screen Image
                                                            
******************************************************************************************************************************
******************************************************************************************************************************/

.k_social-image {
    background: linear-gradient(
                                 rgba(236,108,190,0.45),
                                 rgba(236,108,190,0.45)
                                 ),
                                 
                                 url(../images/group.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_me-image {
    background: linear-gradient(
                                 rgba(8,53,148,0.45),
                                 rgba(8,53,148,0.45)
                                 ),
                                 
                                 url(../images/me.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_event {
    background: linear-gradient(
                                 rgba(8,53,148,0.45),
                                 rgba(8,53,148,0.45)
                                 ),
                                 
                                 url(../images/event.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_shop-image {
    background: linear-gradient(
                                 rgba(8,148,43,0.65),
                                 rgba(8,148,43,0.65)
                                 ),
                                 
                                 url(../images/shop.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_task {
    background: linear-gradient(
        rgba(249,250,8,0.45),
        rgba(249,250,8,0.45)
                                 ),
                                 
                                 url(../images/task.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_community-image {
    background: linear-gradient(
                                 rgba(156,20,10,0.65),
                                 rgba(156,20,10,0.65)
                                 ),
                                 
                                 url(../images/community.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_photo {
    background: linear-gradient(
        rgba(156,20,10,0.65),
        rgba(156,20,10,0.65)
                                 ),
                                 
                                 url(../images/message.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_trax {
    background: linear-gradient(
        rgba(255, 140, 0, 0.45),
        rgba(255,140,0,0.45)
                                 ),
                                 
                                 url(../images/trax.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_screen-image {
    background: linear-gradient(
                                 rgba(148,0,211,0.45),
                                 rgba(148,0,211,0.45)
                                 ),
                                 
                                 url(../images/woman.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_show-image {
    background: linear-gradient(
                                 rgba(8,53,148,0.65),
                                 rgba(8,53,148,0.65)
                                 ),
                                 
                                 url(../images/show.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_course-image {
    background: linear-gradient(
                                 rgba(116,5,143,0.65),
                                 rgba(116,5,143,0.65)
                                 ),
                                 
                                 url(../images/course.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_vid-image {
    background: linear-gradient(
                                 rgba(156,20,10,0.65),
                                 rgba(156,20,10,0.65)
                                 ),
                                 
                                 url(../images/vid.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_you-image {
    background: linear-gradient(
                                 rgba(236,108,190,0.45),
                                 rgba(236,108,190,0.45)
                                 ),
                                 
                                 url(../images/you.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_music-image {
    background: linear-gradient(
                                 rgba(249,250,8,0.45),
                                 rgba(249,250,8,0.45)
                                 ),
                                 
                                 url(../images/videochat.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

.k_books-image {
    background: linear-gradient(
                                 rgba(207,0,15,0.45),
                                 rgba(207,0,15,0.45)
                                 ),
                                 
                                 url(../images/books.jpg);
                                 
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
  padding: 5px;
  background-color: #009900;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer a{
  color: #FFFFFF;
}

.copyright_k{
    color: #FFFFFF;
	font-size: 10px;
}
/*****************************************************************************************************************************
******************************************************************************************************************************

                                                   End of kunnec Screen Image
                                                            
******************************************************************************************************************************
******************************************************************************************************************************/

.container_T {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container_T:hover .image {
  opacity: 0.3;
}

.container_T:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}





/******************************************************************
                            start Pricing section
********************************************************************/

.pricing-table {
    margin: 10px 10px;
    text-align: center;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.pricing-table:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.pricing-title {
    color: #FFF;
    background: #239B56;
    padding: 20px 0;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table-title a {
    font-size: 0.6em;
}



.pricing-table.recommended .pricing-title {
    background: #F39C12;
}

.pricing-table.recommended .pricing-action {
    background: #F39C12;
}

.pricing-table .price {
    background: #000000;
    color: #FFFFFF;
    font-size: 2.4em;
    font-weight: 700;
    padding: 2px 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table .price sup {
    font-size: 0.4em;
    position: relative;
    left: 0px;
}

.table-list{
    background: #FFF;
    color: #403d3a;
	
}

.table-list li {
    font-size: 0.9em;
    font-weight: 700;
}


.table-list li span {
    font-weight: 400;
}

.table-list li span.unlimited {
    color: #FFF;
    background: #e95846;
    font-size: 0.9em;
    padding: 2px 10px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}


.table-list li:nth-child(2n) {
    background: #F0F0F0;
}

.table-buy {
    background: #FFF;
    padding: 15px;
    text-align: center;
    overflow: hidden;
}

.table-buy p {
    float: center;
    color: #37353a;
    font-weight: 700;
    font-size: 1.8em;
}

.table-buy p sup {
    font-size: 0.5em;
    position: relative;
    left: 5px;
	padding-bottom:20px;
}

.table-buy .pricing-action {
    color: #FFF;
    background: #3fab91;
    padding: 10px 9px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
    background: #3fab91;
}

.recommended .table-buy .pricing-action:hover {
    background: #3fab91;    
}

.terms{
	background: #009900;
	border: 0;
  outline: 0;
}

/******************************************************************
                           Sign up Modal
********************************************************************/

.theme-wizard .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
  color: #748194;
  display: block;
}

.theme-wizard .nav-link .nav-item-circle {
  color: #FF0000;
  background-color: #fff;
  border: 2px solid #d8e2ef;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  line-height: 36px;
  padding: 0;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.theme-wizard .nav-link.active {
  color: #00d27a;
}

.theme-wizard .nav-link.active .nav-item-circle {
  background-color: #00d27a !important;
  color: #fff;
  border-color: #00d27a;
}

.theme-wizard .nav-link.done {
  color: #009900;
}

.theme-wizard .nav-link.done .nav-item-circle {
  background-color: #009900 !important;
  color: #fff;
  border-color: #009900;
}

.theme-wizard .nav-link.done .nav-item-circle .check-icon {
  display: inline-block;
}

.theme-wizard .nav-link.done .nav-item-circle-parent:before {
  background-color: #00d27a;
}

.theme-wizard .nav-link .nav-item-circle .check-icon {
  display: none;
}

.theme-wizard .nav-link .nav-item-circle-parent {
  display: block;
}

.theme-wizard .nav-link .nav-item-circle-parent:before {
  content: '';
  height: 2px;
  width: 101%;
  position: absolute;
  left: 51%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background: #d8e2ef;
}

.theme-wizard .nav-item:not(:first-child) .active .nav-item-circle-parent:after {
  content: '';
  width: 50%;
  position: absolute;
  left: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2px;
  background-color: #00d27a;
}

.theme-wizard .nav-item-circle-parent {
  position: relative;
  padding: 0 1rem;
}

.theme-wizard .nav-item-circle {
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.theme-wizard .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.theme-wizard .nav-item:first-child .nav-item-circle-parent:before, .theme-wizard .nav-item:last-child .nav-item-circle-parent:before {
  width: 50%;
}

.theme-wizard .nav-item:first-child .nav-item-circle-parent:before {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.theme-wizard .nav-item:last-child .nav-item-circle-parent:before {
  left: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.theme-wizard .wizard-lottie-wrapper {
  height: 1px;
  position: relative;
  padding-bottom: 190px;
  overflow: hidden;
}

.theme-wizard .wizard-lottie-wrapper .wizard-lottie {
  width: 340px;
  -webkit-transform: translateY(-73%);
  -ms-transform: translateY(-73%);
  transform: translateY(-73%);
}

.container img .sign-up{ 
    margin-top: 100px;
}

.modal-header {
    background-color: #009900;
    color: #FFFFFF;
}

h5 .modal-title {
	margin:0 auto;
}

.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
	margin-top: 10px;
	font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.transition-timer-carousel .carousel-caption .carousel-caption-header {
		font-size: 36px;
	}
}
.transition-timer-carousel .carousel-indicators {
	bottom: 0px;
	margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
	z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
	-moz-transition: width 4.25s linear;
	-o-transition: width 4.25s linear;
	transition: width 4.25s linear;
}

.video-list-image img{
	height: 200px;
  width: 50%;
}

